body{
    background-color: rgb(255, 255, 255);
}
.navbar{
    display: flex;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 10px;
}
.tope:last-of-type {
    margin-left: auto;
  }
.a1{
    margin-right: 20px;
    font-size: larger;
}
.nama{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    font-weight: bold;
    color: rgb(61, 60, 60);
}
.text1{
    color: rgb(180, 180, 180);
    padding-top: 5px;
    padding-left: 5px;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.aboutme{
    padding-left: 40px;
}
.contact{
    font-size: x-large;
    padding-top: 90px;
    padding-left: 50px;
}
.intro{
    font-size: x-large;
    text-align: justify;
    padding-top: 25px;
}
.content{
    padding-top: 3%;
}
.judul{
    font-size: large;
}
.footer {
    margin: auto;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
.off{
    display:none;
}
.work{
    display: block;
}